@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ocurrió un error al procesar su petición.</h2>

@if(ViewData["errorBD"] != null) {
        <p>@ViewData["errorBD"] Intene dirigirse de nuevo a la página que falló.</p>
}
