@{
    ViewBag.Title = "Acerca de";
    ViewBag.pantallaActual = "acercaDe";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Este sistema ha sido desarrollado por estudiantes del curso de Ingeniería de Software I, de la Universidad de Costa Rica.</p>

<h5>Estudiantes:</h5>
<UL TYPE=circle>
    <LI> Alvarado Gónzalez, Andreína
    <LI> Chaves Azofeifa, Isabel
    <LI> Madrigal Brenes, Adrián
    <LI> Madrigal Corrales, Josin
    <LI> Sánchez Castillo, José Daniel
</UL>
