@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Este sistema ha sido desarrollado por estudiantes del curso de Ingeniería de Software I, de la Universidad de Costa Rica.</p>
