@{
    ViewBag.Title = "Información de Contacto";
    ViewBag.pantallaActual = "contacto";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ciudad Universitaria Rodrigo Facio<br />
    San Pedro de Montes de Oca, San José, Costa Rica.<br />
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:SistemaRequerimientosSoporte@gmail.com">SistemaRequerimientosSoporte@gmail.com</a><br />
</address>