@{
    ViewBag.Title = "Sistema de Administración de Requerimientos";
}

<div align="center">
    <figure>
        <img src="http://3.bp.blogspot.com/-MLpdbf-bbuM/VXYcEvp1xnI/AAAAAAAAAGA/50wJZt-ZrLI/s1600/staff%25281%2529%25281%2529%2B%25282%2529.jpg" style="width:800px;height:600px;">
    </figure>
</div>